@import 'variables';

.page-container {
  width: 100vw;
  overflow: hidden;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-page-container {
  background-color: $black;
}



body {
  margin: 0;
  padding: 0;
}

body, p, label, .label, a {
  font-family: $main-font;
}

body {
  font-size: 16pt;
}

p {
  font-size: 24pt;
}

label, .label {
  font-size: 18pt;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.label_small {
  font-size: 12pt;
  letter-spacing: 0.2em;
}

h1, h2 {
  font-family: $heading-font;
  margin: 0;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 18pt;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.black {
  color: $black;
}

.button-large, .button-small {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.button-large {
  font-size: 18px;
  line-height: 56px;
  width: 204px;
  height: 56px;
}

.button-small {
  font-size: 12px;
  line-height: 32px;
  width: 114px;
  height: 32px;
}

.button-dark {
  color: $white;
  background-color: $black;
  &:hover {
    background-color: $transparent-black;
  }
}

.button-disabled {
  background-color: $medium-grey;
}

.button-light {
  color: $black;
  background-color: $white;
  &:hover {
    color: $dark-grey;
    background-color: $light-grey;
  }
}

.button-primary {
  color: $black;
  background-color: $white;
  &:hover {
    color: $dark-grey;
    background-color: $light-grey;
  }
  &.disabled {
    background-color: $medium-grey;
    color: $light-grey;
  }
}

.button-secondary {
  background: transparent;
  color: $white;
  border: 1px solid $white;
  &:hover {
    color: $medium-grey;
    border: 1px solid $medium-grey;
  }
  &.disabled {
    background-color: $dark-grey;
    color: $dark-grey;
  }
}

.nav-link {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $dark-grey;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid $dark-grey;
  &:hover {
    color: $medium-grey;
  }
  &:focus {
    color: $white;
  }
}

.text-link {
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $white;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid $white;
  &:hover {
    color: $medium-grey;
  }
}

input {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.01em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  color: $black;
  background: transparent;
  border: none;
  border-bottom: 1px solid $black;
  width: 95%;
  max-width: 385px;
  height: 38px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $medium-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $medium-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $medium-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $medium-grey;
}


.quiz-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid $black;
  background: transparent;
  &.current {
    background-color: $black;
  }
}

@media (max-width: 767px) {
  input {
    font-size: 16px;
    line-height: 24px;
  }
  .quiz-dot {
    height: 8px;
    width: 8px;
  }
}
