// Colors

$white: #fff;
$black: #000;
$transparent-black: rgba(0, 0, 0, 0.8);
$dark-grey: #828282;
$medium-grey: #BDBDBD;
$light-grey: #E0E0E0;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$heading-font: 'Caudex', serif;
$main-font: 'Karla', sans-serif;
