.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  color: $white;
  padding-top: 258px;
  .row {
    border: 1px solid $white;
    padding: 64px 114px;
  }
  .heading-row {
    padding: 48px 0;
  }
  img {
    width: 40px;
    height: 40px;
  }
  .info-row {
    p {
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.02em;
      margin: 0;
    }
  }
  h1 {
    margin: 0;
    margin-top: 25px;
  }
  .social-links {
    a {
      text-decoration: none;
    }
    .facebook-link {
      margin-left: 32px;
    }
  }
  .email-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $white;
    margin-right: 40px;
    &:hover {
      color: $medium-grey;
    }
  }
}

@media (max-width: 1300px) {
  .about {
    .row {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1000px) {
  .about {
    .row {
      padding: 64px 32px;
    }
    .heading-row {
      h1 {
        font-size: 42pt;
      }
    }
  }
}

@media (min-width: 768px) {
  .contact-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .about {
    .row {
      padding: 32px;
    }
    .heading-row {
      padding: 24px 0;
      h1 {
        font-size: 30pt;
      }
    }
  }
  .contact-desktop {
    display: none;
  }
  .contact-mobile {
    .social-links {
      .facebook-link {
        margin-left: 0;
      }
    }
    .top-margin {
      margin-top: 16px;
    }
  }
}

@media (max-width: 500px) {
  .about {
    .heading-row {
      .label {
        font-size: 12px;
      }
      h1 {
        font-size: 24px;
        margin-top: 15px;
      }
    }
    .info-row {
      p {
        font-size: 14px;
      }
    }
    .contact-mobile {
      a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 400px) {
  .about {
    .row {
      padding: 20px;
    }
  }
}

@media (max-width: 350px) {
  .about {
    .contact-mobile {
      a {
        margin-left: -15px !important;
      }
    }
  }
}
