.hero {
  width: 67%;
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 80px;
  min-height: 100vh;
  h1 {
    margin: 0;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 35px;
  }
  .label {
    font-size: 18pt;
  }
  .button-large {
    margin-top: 40px;
  }
}
